@import "styles/variables";

.header {
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  .menuBtn {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top: -50px;
    right: 25px;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateY(80px);
    transition: all 0.2s ease-in-out;
    @media (min-width: 580px) {
      right: 10%;
    }
    @media (min-width: 768px) {
      display: none;
    }

    span {
      width: 50px;
      height: 5px;
      margin: 5px 0;
      background-color: white;
      transition: all 0.2s ease-in;
    }

    &--active {
      span {
        &:first-child {
          transform: translateY(6px);
        }

        &:last-child {
          transform: translateY(-6px);
        }
      }
    }
  }

}




