@import "styles/variables";

.card {
  position: relative;
  height: 260px;

  @media (min-width: 640px) {
    height: 100px;
  }

  @media (min-width: 768px) {
    height: 130px;
  }

  @media (min-width: 984px) {
    height: 200px;
  }

  @media (min-width: 1200px) {
    height: 260px;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;


  span {
    font-family: var(--robotoCondensed-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    white-space: nowrap;
    color: $primary;
    transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    border-bottom: 2px solid rgb(0,0,0,0);
    transition: 0.5s all;
    @media (min-width: 768px) {
      font-size: 18px;
    }
  }

  i {
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  &:hover {
    span{
      border-bottom: 2px solid $primary;
    }
    i {
      transform: translateX(10px);
    }
  }
}
