@import "styles/variables";
.VillasParam{
  h2{
    margin-bottom: 2em;
  }
  .buttonBlock{
    display: flex;
    justify-content: center;

    .Button{
      display: flex;
      align-items: center;
      justify-content: center;
      //background: #ff9900;
      border: 1px solid $primary;
      border-radius: 28px;
      padding: 15px;
      width: 100%;
      min-height: 50px;
      text-transform: uppercase;
      font-weight: 500;
      color: #FFFFFF;
      transition: 0.5s all;

      &:hover{
        background: $primary;
      }
      @media (min-width: 768px) {
        width: fit-content;
      }
    }
  }
}
.ParamCard{
  margin-bottom: 3em;
  .lable{
    font-size: 25px;
    color: #ffffff;
  }
  .title{
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 1.2em;
  }
  .Content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    .paramBlock{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      @media (min-width: 768px) {
        width: 70%;
      }


      .param{
        width: 45%;
        margin-bottom: 2em;
        @media (min-width: 768px) {
          width: 25%;
          margin-right: 20px;
        }

        .value{
          font-size: 20px;
          color: #ff9900;
          @media (min-width: 768px) {
            font-size: 35px;
          }
        }
        .lableParam{
          font-size: 14px;
          color: #FFFFFF;
          @media (min-width: 768px) {
            font-size: 18px;
          }
        }
      }
    }
    .Slider{
      width: 100%;
      @media (min-width: 768px) {
        width: 30%;
      }
      .mySwiper{
        border-radius: 10%;
      }
    }
  }
}