@import "styles/variables";


.investDemo {
  background-color: #292929;
  padding: 20px 40px;

  .item {
    .title {
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.025em;
      color: #FFFFFF;
      margin-bottom: 10px;
    }
  }
}




