@import "styles/variables";

.switcher {
  display: inline;
  position: relative;

  .image {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
  }

  .list {
    padding: 5px 0;
    position: absolute;
    left: 0;
    bottom: -40px;

    li {
      span {
        transition: color 0.3s ease-in-out;
        &:hover {
          color: $primary;
        }
      }
    }
  }
}
