@import "styles/variables";

.youtube {
  width: 200px;
  @media (min-width: 310px) {
    width: 300px;
  }
  @media (min-width: 410px) {
    width: 400px;
  }
  @media (min-width: 510px) {
    width: 500px;
  }
  .list {
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .icon {
      margin-right: 18px;
    }

    .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #ffffff;
    }
  }

  .link {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 50px;
    transition: 0.5s all;


    @media (min-width: 768px) {
      gap: 0;
      justify-content: space-between;
      margin-top: auto;
    }

    span {
      font-family: var(--robotoCondensed-font);
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      white-space: nowrap;
      color: $primary;
      transition: opacity 1s cubic-bezier(0.165, 0.84, 0.44, 1);
      border: 1px solid #ff9900;
      padding: 20px;
      border-radius: 50px;

      @media (min-width: 768px) {
        font-size: 18px;
      }
    }

    i {
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      i {
        transform: translateX(10px);
      }
    }
  }
}

.video {
  width: 100%;
  height: 200px;

  @media (min-width: 576px) {
    height: 300px;
  }

  .placeholder {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;

    img {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }

    &:hover .playButton {
      transform: scale(1.1);
    }
  }

  .playButton {
    width: 110px;
    height: 110px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary;
    border-radius: 100%;
    left: calc(50% - 55px);
    top: calc(50% - 55px);
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    @media (min-width: 1200px) {
      width: 140px;
      height: 140px;
      left: calc(50% - 70px);
      top: calc(50% - 70px);
    }
  }
  .player {
    position: relative;
    width: 100%;
    height: 100%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.thumb {
  height: 130px;

  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}
