@import "styles/variables";

.hero {
  height: 100%;
  position: relative;

  .background{
    position: absolute;
    background: rgba(0, 0, 0);
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
  }

  .h1Block{
    margin-top: 113px;
    width: 55%;
    position: relative;
    @media (max-width: 1239px) {
      width: 70%;
    }
    @media (max-width: 983px) {
      width: 80%;
    }
    @media (max-width: 767px) {
      margin-top: 10px;
      width: 100%;
    }
    .h1{
      position: relative;
      @media (max-width: 767px) {
        height: 130px;
        text-align: center;
        margin-bottom: 40px;
      }
      @media (max-width: 473px) {
        height: 110px;
        margin-bottom: 35px;
      }
      @media (max-width: 405px) {
        margin-bottom: 20px;
      }
      @media (max-width: 329px) {
        margin-bottom: 0px;
      }
      span{
        float:right;
        color: #FF9900;
        @media (max-width: 767px) {
          float: unset;
        }
      }

    }
    .subLable{
      position: absolute;
      top: 110px;
      left: 0;

      font-weight: 700;
      font-size: 18px;
      line-height: 23px;
      text-align: right;
      letter-spacing: 0.025em;
      text-decoration-line: underline;
      color: white;
      @media (max-width: 983px) {
        top: 100px;
      }
      @media (max-width: 767px) {
        top: 150px;
        left: 26%;
      }
      @media (max-width: 552px) {
        top: 150px;
        left: 25%;
        font-size: 17px;
      }
      @media (max-width: 512px) {
        top: 150px;
        left: 23%;
      }
      @media (max-width: 469px) {
        top: 125px;
        left: 20%;
      }
      @media (max-width: 405px) {
        top: 115px;
        font-size: 16px;
        left: 15%;
      }
      @media (max-width: 369px) {
        top: 105px;
        left: 15%;
      }
      @media (max-width: 329px) {
        top: 82px;
        left: 10%;
      }
      @media (max-width: 297px) {
        left: 3%;
      }
    }
  }
  .FormText{
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      width: 100%;
    }
  }
  .textBlock{
    max-width: 305px;
    display: flex;
    margin-left: 43px;
    justify-content: flex-end;
    @media (max-width: 767px) {
      width: fit-content;
      max-width: unset;
      justify-content: unset;
      margin: 0 auto;
    }
    .text{
      margin-top: 15px;
      font-weight: 400;
      font-size: 17px;
      line-height: 25px;
      /* or 26px */
      color: #FFFFFF;
      white-space: break-spaces;
      max-width: 384px;
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 23px;
        white-space: normal;
        margin-bottom: 10px;
      }
      @media (max-width: 405px) {
        font-size: 14px;
        text-align: center;
      }
      span{
        text-decoration-line: underline;
        color: #FFFFFF;
      }
    }
  }

}




