@import "styles/variables";

.hero {
  height: 100vh;
  position: relative;
  width: 100%;
  padding-top: 210px;
  padding-bottom: 64px;

  .background {
    position: absolute;
    background: rgba(0, 0, 0);
    top: 0;
    z-index: -100;
    width: 100%;
    height: 100%;
    .videoBack {
      opacity: 0.6;
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
    }
  }

  .h1Block {
    width: 100%;
    position: relative;
    //@media (max-width: 1239px) {
    //  width: 70%;
    //}
    @media (max-width: 1023px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    //@media (max-width: 767px) {
    //  width: 100%;
    //}
    .h1 {
      display: flex;
      flex-direction: column;
      //font-weight: 500;
      //font-size: 100px;
      //line-height: 117px;
      //letter-spacing: -0.03em;
      color: #ffffff;
      //margin-bottom: 1.2em;
      text-transform: uppercase;
      @media (max-width: 1023px) {
        width: 65%;
        align-items: center;
        margin-bottom: 20px;
      }
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 10px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .white {
        color: #ffffff;
        width: fit-content;
      }
      .yellow {
        width: fit-content;
        padding-left: 29.5%;
        color: #ff9900;
        @media (max-width: 1239px) {
          padding-left: 20%;
        }
        @media (max-width: 1023px) {
          padding-left: unset;
        }
      }
    }
    .subLable {
      position: absolute;
      bottom: 200px;
      left: 0;

      font-weight: 500;
      font-size: 26px;
      line-height: 30px;
      text-decoration-line: underline;
      color: white;
      @media (max-width: 1240px) {
        position: unset;
        margin-bottom: 1em;
      }
      @media (max-width: 767px) {
        font-size: 15px;
        line-height: 19px;
      }
    }
    .dot {
      margin-left: auto;
      margin-right: auto;
      color: #ffffff;
      display: flex;
      width: fit-content;
      align-items: center;

      @media (min-width: 984px) {
        top: 20px;
        right: 20%;
      }
      @media (min-width: 1240px) {
        top: 50px;
        right: 30%;
        position: absolute;
      }
      .address {
        margin-left: 6px;
        font-weight: 500;
        font-size: 26px;
        line-height: 30px;
        text-decoration-line: underline;

        color: #ffffff;
        @media (max-width: 767px) {
          font-size: 15px;
          line-height: 19px;
        }
      }
    }
  }
  .FormText {
    display: flex;
    @media (max-width: 983px) {
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      width: 100%;
      padding-bottom: 1em;
    }
  }
  .propertie {
    position: absolute;
    top: 140px;
    max-width: 363px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1239px) {
      position: unset;
      margin-bottom: 10px;
    }
    @media (max-width: 983px) {
      max-width: 100%;
    }
    @media (max-width: 767px) {
      width: fit-content;
      max-width: unset;
      justify-content: unset;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 2em;
    }
    .text {
      margin-top: 23px;
      font-weight: 300;
      font-size: 20px;
      line-height: 128.02%;
      /* or 26px */
      color: #ffffff;
      white-space: normal;
      max-width: 384px;
      letter-spacing: 0.01em;
      @media (max-width: 983px) {
        white-space: normal;
        max-width: 100%;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 23px;
        white-space: pre-wrap;
        margin-bottom: 10px;
      }
      @media (max-width: 405px) {
        font-size: 14px;
        text-align: center;
      }
      span {
        text-decoration-line: underline;
        color: #ffffff;
      }
    }
  }
  .textBlockWithForm {
    max-width: 386px;
    display: flex;
    justify-content: flex-end;
    @media (max-width: 1239px) {
      top: 52%;
      left: 35%;
    }
    @media (max-width: 983px) {
      max-width: 47%;
    }
    @media (max-width: 767px) {
      width: fit-content;
      max-width: unset;
      justify-content: unset;
      margin: 0 auto;
      margin-bottom: 2em;
    }
    .text {
      margin-top: 23px;
      font-weight: 300;
      font-size: 20px;
      line-height: 128.02%;
      /* or 26px */
      color: #ffffff;
      white-space: break-spaces;
      @media (max-width: 983px) {
        white-space: normal;
        max-width: 100%;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        line-height: 23px;
        white-space: normal;
        margin-bottom: 10px;
      }
      @media (max-width: 405px) {
        font-size: 14px;
        text-align: center;
      }
      span {
        color: $primary;
      }
    }
  }
  .link {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #ff9900;
    font-family: var(--robotoCondensed-font);

    @media (max-width: 767px) {
      font-size: 15px;
      width: fit-content;
      margin: 0 auto;
      border: 1px solid #ff9900;
      border-radius: 15px;
      padding: 8px 10px;
    }
    &:hover {
      a {
        border-bottom: 2px solid #ff9900;
      }
    }
    a {
      border-bottom: 2px solid rgb(0, 0, 0, 0);
      transition: 0.5s all;
      display: flex;
      align-items: center;
    }
    svg {
      margin-left: 10px;
    }
    i {
      transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      i {
        transform: translateX(10px);
      }
    }
  }
}
