.Invest{
  position: relative;
  //height: 30.55vh;
  .background{
    width: 110%;
    left: -5%;
    height: 60vh;
    top:-320px;
    border-bottom: 1px solid #ff9900;
    border-left: 1px solid #ff9900;
    border-right: 1px solid #ff9900;
    position: absolute;
    border-radius: 50%;
    z-index: -101;
    @media (min-width: 768px) {
      top:-430px;
      width: 90%;
      left: 5%;
      height: 60vh;
    }
  }
  .arrowBot{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -60px;
    left: 0;
    @media (min-width: 768px) {
      bottom: -80px;
    }
    svg{
      height: 60px;
      @media (min-width: 768px) {
        height: 80px;
      }
    }
  }
  .h2Titile{
    display: flex;
    justify-content: center;
    h2{
      text-align: center;
      margin-bottom: 40%;
      @media (min-width: 768px) {
        text-align: unset;
        margin-bottom: 18%;
      }

    }
  }

  .static{
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius:15px 0px 15px 15px;
    min-height: 70px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
    @media (min-width: 768px) {
      width: 70%;
      flex-direction: row;
    }
    .vertLine{
      border: 2px solid #FFFFFF;
      height: 0.2em;
      width: 50%;
      margin-bottom: 1em;
      @media (min-width: 768px) {
        border: 2px solid #FFFFFF;
        height: 3em;
        width: unset;
      }

    }
    .firstBlock{
      margin-bottom: 1em;
      flex-direction: row!important;
      @media (min-width: 768px) {
        flex-direction: column;
      }

    }
    .bloks{
      display: flex;
      justify-content: space-between;
      width: 70%;
    }
    .textBlock{
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .bolder{
        margin-right: 0.3em;
        font-weight: 700;
        display: contents;
        @media (min-width: 768px) {
          margin-right: unset;
        }
      }
      .bigNum{
        font-size: 25px;
        line-height: 31px;
        color: #ff9900;
        margin-right: 0.5em;
        @media (min-width: 768px) {
          font-size: 44px;
          line-height: 68px;
        }
      }
    }
  }
  .offstatic{
    text-align: center;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 4em;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }

  }
  .BlockCheks{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 4em;
    @media (min-width: 768px) {
      width: 80%;
    }
    .lineFirst, .lineSecond, .lineThird{
      display: none;
    }
    @media (min-width: 1000px) {
      .lineFirst, .lineSecond, .lineThird{
        display: unset;
      }
      .lineFirst{
        position: absolute;
        top:5%;
        border-bottom: 1px dashed #fff;
        width: 70%;
        left: 15%;
        z-index: -1;
      }
      .lineSecond{
        position: absolute;
        top:39%;
        border-bottom: 1px dashed #fff;
        width: 70%;
        left: 15%;
        z-index: -1;
      }
      .lineThird{
        position: absolute;
        top:72%;
        border-bottom: 1px dashed #fff;
        width: 70%;
        left: 15%;
        z-index: -1;
      }
    }


    .Block{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 260px;
      margin-bottom: 3em;
      &:last-child{
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 768px) {
          margin-left: unset;
          margin-right: unset;
        }
      }
      .Image{
        margin-bottom: 1em;
      }
    }
  }
  .Scheme{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .NedWig{
      width: 100%;
      min-height: 70px;
      background: #212121;
      border-radius: 20px 0px 20px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      padding: 1em 0.5em;
      margin-bottom: 1em;
      @media (min-width: 768px) {
        width: 70%;
        margin-bottom: 4em;
      }
      p{
        width: 80%;
        color: white;
      }
    }
    .arrowWing{
      margin-bottom: 1em;
      @media (min-width: 768px) {
        position: absolute;
        top:35%;
      }

    }
    .ThreeBlocks{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .block{
        width: 100%;
        border: 1px dashed #ff9900;
        border-radius: 15px 0px 15px 15px;
        color: #FFFFFF;
        padding: 1em 2em;
        font-size: 18px;
        text-align: center;
        margin-bottom: 2em;
        @media (min-width: 768px) {
          width: 40%;
        }
        &:last-child{
          margin-right: auto;
          margin-left: auto;
          margin-bottom: unset;
        }
      }
    }
  }
}

