@import "styles/variables";
.Invest{
  position: relative;
  //height: 30.55vh;
  .background{
    width: 110%;
    left: -5%;
    height: 60vh;
    top:-330px;
    border-bottom: 1px solid $primary;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    position: absolute;
    border-radius: 50%;
    z-index: -101;
    @media (min-width: 400px) {
      top:-350px;
    }
    @media (min-width: 768px) {
      top: -360px;
    }
    @media (min-width: 1024px) {
      top:-430px;
      width: 90%;
      left: 5%;
      height: 70vh;
    }
  }
  .arrowBot{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -40px;
    left: 0;
    @media (min-width: 425px) {
      bottom: -40px;
    }
    @media (min-width: 984px) {
      bottom: -80px;
    }
    svg{
      height: 40px;

      @media (min-width: 425px) {
        height: 40px;
      }
      @media (min-width: 984px) {
        height: 80px;
      }
    }
  }
  .h2Titile{
    display: flex;
    justify-content: center;
    h2{
      text-align: center;
      margin-bottom: 46%;
      @media (min-width: 400px) {
        margin-bottom: 40%;
      }
      @media (min-width: 768px) {
        text-align: center;
        margin-bottom: 18%;
        white-space: pre-wrap;
      }

    }
  }

  .static{
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius:15px 0px 15px 15px;
    min-height: 70px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5em;
    @media (min-width: 768px) {
      flex-direction: row;
    }
    @media (min-width: 984px) {
      width: 70%;
      flex-direction: row;
    }
    .vertLine{
      border: 2px solid #FFFFFF;
      height: 0.2em;
      width: 50%;
      margin-bottom: 1em;
      @media (min-width: 768px) {
        border: 2px solid #FFFFFF;
        height: 3em;
        width: unset;
        margin-bottom: unset;
      }

    }

    .bloks{
      display: flex;
      justify-content: space-between;
      width: 90%;
      @media (min-width: 375px) {
        width: 70%;
      }
      @media (min-width: 425px) {
        width: 65%;
      }
      @media (min-width: 475px) {
        width: 55%;
      }
      @media (min-width: 768px) {
        width: 65%;
      }
    }
    .about{
      display: flex;
      align-items: self-start;
      flex-wrap: wrap;
      justify-content: center;
      width: 90%;
      @media (min-width: 480px) {
        flex-direction: row;

      }
      @media (min-width: 768px) {
        flex-wrap: unset;
        justify-content: space-between;
        align-items: center;
        width: 50%;
      }
      @media (min-width: 984px) {
        width: 50%;
      }
      @media (min-width: 1240px) {
        justify-content: space-between;
      }
      .block{
        width: 40%;

        @media (min-width: 420px) {
          width: 30%;
        }

        @media (min-width: 480px) {
          margin-right: 50px;
          width: fit-content;
          &:last-child{
            margin-right: unset;
          }
        }

        @media (min-width: 768px) {
          margin-left: unset;
          margin-right: 90px;
          &:nth-child(odd){
            margin-left: unset;
            margin-right: unset;
          }
          &:nth-child(even){
            margin-right: unset;
          }
        }
        @media (min-width: 984px) {
          margin-right: 90px;
          margin-bottom: unset;
        }

        .bigTitle{
          font-size: 32px;
          line-height: 36px;
          letter-spacing: -0.01em;
          color: #ff9900;
          font-family: var(--roboto-font);
          text-transform: uppercase;
          font-weight: 400;
          margin-bottom: 7px;
          text-align: left;

          @media (min-width: 768px) {
            font-size: 42px;
            line-height: 46px;
            text-align: left;
          }
          @media (min-width: 1024px) {
            //font-size: 42px;
          }
          @media (min-width: 1240px) {
            font-size: 48px;
            line-height: 50px;
          }
          span{
            margin-left: 0.2em;
            color: #ff9900;
            margin-bottom: 10px;
          }
        }
        .white{
          color: #FFFFFF;
        }
        .lable{
          font-weight: 700;
          letter-spacing: -0.025em;
          margin-bottom: 5px;
          text-transform: uppercase;
          font-family:var(--robotoCondensed-font);
          white-space: pre-wrap;
          text-align: left;
          @media (min-width: 768px) {
            text-align: left;
            font-size: 18px;
          }
        }
      }
    }
    .textBlock{
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .bolder{
        margin-right: 0.3em;
        font-weight: 700;
        display: contents;
        @media (min-width: 768px) {
          margin-right: unset;
        }
      }

    }
    .firstBlock{
      margin-bottom: 1em;
      flex-direction: row;
      text-align: center;
      @media (min-width: 768px) {
        flex-direction: column;
        margin-bottom:unset;
      }
      b{
        display: contents;
        @media (min-width: 768px) {
          display: block;
        }
      }
    }
  }
  .offstatic{
    text-align: center;
    font-size: 10px;
    line-height: 13px;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.87);
    margin-bottom: 4em;
    @media (min-width: 768px) {
      font-size: 14px;
      line-height: 17px;
    }

  }
  .BlockCheks{
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 4em;
    @media (min-width: 768px) {
      width: 80%;
      justify-content: space-between;
    }
    @media (min-width: 984px) {
      width: 60%;
    }
    @media (min-width: 1240px) {
      width: 80%;
    }
    .lineFirst, .lineSecond, .lineThird{
      display: none;
    }
    @media (min-width: 1240px) {
      .lineFirst, .lineSecond, .lineThird{
        display: unset;
      }
      .lineFirst{
        position: absolute;
        top:5%;
        border-bottom: 1px dashed #fff;
        width: 70%;
        left: 15%;
        z-index: -1;
      }
      .lineSecond{
        position: absolute;
        top:40%;
        border-bottom: 1px dashed #fff;
        width: 70%;
        left: 15%;
        z-index: -1;
      }
      .lineThird{
        position: absolute;
        top:70%;
        border-bottom: 1px dashed #fff;
        width: 70%;
        left: 15%;
        z-index: -1;
      }
    }


    .Block{
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 260px;
      margin-bottom: 3em;
      &:last-child{
        margin-left: auto;
        margin-right: auto;
        @media (min-width: 1240px) {
          margin-left: unset;
          margin-right: unset;
        }
      }
      .Image{
        margin-bottom: 1em;
      }
    }
  }
  .Scheme{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    .NedWig{
      width: 100%;
      min-height: 70px;
      background: #212121;
      border-radius: 20px 0px 20px 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: baseline;
      padding: 1em 0.5em;
      margin-bottom: 1em;
      @media (min-width: 768px) {
        width: 70%;
        margin-bottom: 4em;
      }
      p{
        width: 80%;
        color: white;
      }
    }
    .arrowWing{
      margin-bottom: 1em;
      @media (min-width: 768px) {
        position: absolute;
        top:35%;
      }

    }
    .ThreeBlocks{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      @media (min-width: 768px) {
        flex-direction: row;
      }
      .block{
        width: 100%;
        border: 1px dashed $primary;
        border-radius: 15px 0px 15px 15px;
        color: #FFFFFF;
        padding: 1em 2em;
        font-size: 18px;
        text-align: center;
        margin-bottom: 2em;
        @media (min-width: 768px) {
          width: 40%;
        }
        &:last-child{
          margin-right: auto;
          margin-left: auto;
          margin-bottom: unset;
        }
      }
    }
  }
}

