@import "styles/variables";

.marker {
  position: relative;
  display: block;

  .projectIcon {
    position: relative;
    width: 51px;
    height: 62px;
    line-height: 0;
    transform: translate(-50%, -50%);

    .title {
      position: absolute;
      top: -12px;
      left: 50%;
      font-weight: 700;
      font-size: 9px;
      line-height: 21px;
      white-space: nowrap;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      transform: translateX(-50%);
    }
  }

  .projectIconActive {
    transform: translate(-50%, -50%) scale(2);
    z-index: 100;
  }

  .locationIcon {
    position: relative;
    line-height: 0;
    width: 40px;
    height: 40px;

    .wrap {
      border-radius: 100%;
      overflow: hidden;
    }

    transform: translate(-50%, -50%);

    .title {
      position: absolute;
      bottom: -18px;
      left: 50%;
      font-weight: 700;
      font-size: 7px;
      line-height: 21px;
      white-space: nowrap;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      transform: translateX(-50%);
    }
  }

  .locationIconActive {
    .wrap {
      border: 2px solid $primary;
    }
    transform: translate(-50%, -50%) scale(2.5);
    z-index: 100;
  }
}
