.SliderBaly{
  h2{
    margin-bottom: 22px;
    text-transform: uppercase;
  }
  p{
    width: 50%;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 2em;
    span{
      color:#ff9900;
    }
  }
  .mySwiper{
    width: 80%;
  }


}