.SliderBaly{
  h2{
    margin-bottom: 22px;
    text-transform: uppercase;
  }
  p{
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 2em;
    @media (min-width: 768px) {
      width: 50%;
    }
    span{
      color:#ff9900;
    }
  }
  .mySwiper{
    width: 100%;
    @media (min-width: 768px) {
      width: 80%;
    }
  }


}