.SliderBaly {
  h2 {
    text-transform: uppercase;
  }
  .mySwiper {
    width: 100%;
    @media (min-width: 768px) {
      width: 80%;
      margin-left: unset;
    }
  }

  .image {
    height: 200px;
    position: relative;
    width: 100%;
    @media (min-width: 576px) {
      height: 300px;
    }

    @media (min-width: 1024px) {
      height: 400px;
    }

    @media (min-width: 1280px) {
      height: 500px;
    }
  }
}
