@import "styles/variables";

.footer {
  .icons{
    display: flex;
    flex-direction: column;
    max-width: 266px;
    .social{
      display: flex;
      justify-content: center;
      a{
        margin-right: 10px;
      }
    }
  }
  .footerNav{
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin-top: 40px;
    @media (max-width: 983px) {
      width: 75%;
    }
    @media (max-width: 767px) {
      width: 100%;
    }
    @media (max-width: 556px) {
      justify-content: center;
    }
    @media (max-width: 315px) {
      flex-wrap: wrap;
    }
    .menu{
      @media (max-width: 556px) {
        margin-right: 30px;
      }
      ul{
        li{
          font-weight: 500;
          font-size: 12px;
          line-height: 15px;
          /* identical to box height */
          text-transform: uppercase;
          letter-spacing: 0.05em;

          color: #FFFFFF;
          margin-bottom: 19px;
        }
      }
    }
    .BlockAdCont{
      display: flex;
      flex-wrap: wrap;
      @media (max-width: 556px) {
        width: 200px;
      }

      .address{
        max-width: 202px;
        margin-right: 8rem;
        @media (max-width: 1239px) {
          margin-right: 2.5rem;
        }
        @media (max-width: 767px) {
          margin-right: 30px;
        }
        @media (max-width: 556px) {
          margin-right: unset;
        }
        p{
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.05em;

          color: #FFFFFF;
        }
      }
      .contacts{
        display: flex;
        flex-direction: column;
        .email{
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.05em;

          color: #FFFFFF;
          margin-bottom: 9px;
        }
        .phone{
          font-weight: 400;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.05em;
          text-decoration-line: underline;

          color: #FFFFFF;
        }
      }
    }

  }

  .underFooter{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    @media (max-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }
    .privace{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.05em;
      text-decoration-line: underline;

      color: rgba(255, 255, 255, 0.5);
      margin-right: 225px;
      @media (max-width: 1024px) {
        margin-right: unset;
        margin-bottom: 10px;
      }
    }
    .copyright{
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */

      letter-spacing: 0.05em;

      color: rgba(255, 255, 255, 0.5);
      @media (max-width: 1024px) {
        margin-bottom: 10px;
      }

    }
  }
}




