.Contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #FFFFFF;
    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }
    @media (min-width: 1240px) {
        justify-content: space-between;
        width: 50%;
        margin-top: 57px;
        margin-left: 100px;
    }
    .callWrite{
        width: 65%;
        @media (min-width: 768px) {
            width: 45%;
        }
        @media (min-width: 1240px) {
            width: 263px;
            &:nth-child(even){
                margin-left: 30px;
            }
        }

        .lable{
            font-family: var(--robotoCondensed-font);
            font-weight: 700;
            font-size: 26px;
            line-height: 31px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .where{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            text-decoration-line: underline;
            margin-bottom: 50px;
            width: 400px;
            @media (min-width: 980px) {
                width: unset;
            }
        }
        .whereAddress{
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.05em;
            margin-bottom: 50px;
        }
        .margin{
            margin-left: -5px;
            a{
                margin-right: 20px;
                svg{
                    path{
                        transition: .3s ease-in-out;
                    }
                }
                &:hover{
                    svg{
                        path{
                            stroke: #ff9900;
                        }
                    }
                }
            }
        }
    }
}
