@import "styles/variables";

.FormContactHero{
  display: flex;
  flex-direction: column;
  width: 340px;
  margin-right: 2em;
  @media (max-width: 983px) {
    width: 50%;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
  }

  input{
    margin-bottom: 29px;
    background: unset;
    border-bottom: 1px solid #858585;
    color: white;
    &:last-child{
      margin-bottom: 25px;
    }
    &::placeholder{
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      /* or 13px */
      color: #FFFFFF;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    &:focus, &:active, &:target{
      background: unset;
      color: #FFFFFF;
    }
  }
    .button{
      font-family: var(--robotoCondensed-font);
      display: flex;
      align-items: center;
      text-align: inherit;
      font-weight: 700;
      font-size: 18px;
      line-height: 21px;
      color: #FF9900;
      white-space: pre-wrap;
      text-transform: uppercase;
      border: 1px solid #ff9900;
      padding: 8px 10px;
      width: fit-content;
      border-radius: 15px ;
      transition: background-color .3s ease-in-out;

      @media (max-width: 767px) {
        font-size: 15px;
        margin: 0 auto;

        margin-top: 2em;
      }
      p {
        border-bottom: 2px solid rgb(0, 0, 0, 0);
        transition: .5s all;
      }


      .arrow{
        margin-left: 10px;
        display: flex;
      }
      &:hover {
        background-color: rgba($primary, .2);
        //p{
        //  border-bottom: 2px solid #ff9900;
        //}
        //.arrow svg {
        //  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
        //  transform: translateX(10px);
        //}
      }
    }


}
