
.FormContactHero{
  display: flex;
  flex-direction: column;
  width: 295px;
  height: 175px;
  @media (max-width: 767px) {
    width: 100%;
    height: auto;
  }

  input{
    margin-bottom: 29px;
    background: unset;
    border-bottom: 1px solid #858585;
    color: white;
    &:last-child{
      margin-bottom: 25px;
    }
    &::placeholder{
      font-weight: 400;
      font-size: 11px;
      line-height: 15px;
      /* or 13px */
      color: #FFFFFF;
      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    &:focus, &:active, &:target{
      background: unset;
      color: #FFFFFF;
    }
  }
    .button{
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 13px;
      line-height: 23px;
      letter-spacing: 0.025em;
      color: #FF9900;
      @media (max-width: 767px) {
        font-size: 15px;
        width: fit-content;
        margin: 0 auto;
      }


      .arrow{
        margin-left: 29px;
        display: flex;
      }
    }


}
