.HeroMenu{
  margin-top: 95px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    li{
      width: 200px;
      height: 79px;

      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767px) {
        height: fit-content;
        margin-bottom: 30px;
        padding-bottom: 10px;
        border-bottom: 1px solid #FFFFFF;
      }
      &:hover{
        background: rgba(217, 217, 217, 0.3);
        border-radius: 7px;
        @media (max-width: 767px) {
          background: unset;
          border-radius: unset;
        }
      }
      &:first-child{
        margin-left: 129px;
        @media (max-width: 1439px) {
          margin-left: unset;
        }
      }
      &:last-child{
        margin-right: 202px;
        @media (max-width: 1439px) {
          margin-right: unset;
        }
      }
    }
    .links{
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.04em;

      color: #FFFFFF;
      @media (max-width: 767px) {
        font-size: 25px;
      }
    }
  }

}

