
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./variables";
@import "./libs/normalize";

html,
body {
  padding: 0;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  font-family: var(--kyivSans-font);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--oswald-font);
}

body {
  background-color: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.teamSwiper {
  .swiper-slide {
    height: auto !important;
  }
}

.swiper-pagination-bullet-active{
  background-color: $primary !important;
}

.swiper-pagination-bullet {
  background-color: $primary !important;
  width: 10px !important;
  height: 10px !important;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;

  span {
    color: $primary;
  }
  
  @media (min-width: 768px) {
    font-size: 17px;
    line-height: 23px;
  }
}

.h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 82px;
  line-height: 85px;
  text-align: left;
  letter-spacing: 0.025em;
  height: 174px;
  color: #FFFFFF;
  position: relative;

  @media (max-width: 983px) {
    font-size: 75px;
    line-height: 80px;
  }
  @media (max-width: 768px) {
    font-size: 65px;
    line-height: 70px;
  }
  @media (max-width: 473px) {
    font-size: 55px;
    line-height: 60px;

  }
  @media (max-width: 409px) {
    font-size: 45px;
    line-height: 50px;

  }
  span{
    color: $primary;
  }
}

.h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: $primary;
  text-transform: uppercase;

  span {
    color: white;
  }
  
  @media (min-width: 768px) {
    font-size: 42px;
    line-height: 46px;
  }

  @media (min-width: 1200px) {
    font-size: 48px;
    line-height: 50px;
  }
}
.h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  /* identical to box height */
  text-align: left;
  letter-spacing: 0.025em;
  height: 174px;
  color: #FFFFFF;
  @media (min-width: 330px) {
    font-size: 45px;
    line-height: 52px;
  }
  @media (min-width: 370px) {
    font-size: 50px;
    line-height: 57px;
  }
  @media (min-width: 405px) {
    font-size: 55px;
    line-height: 62px;
  }
  @media (min-width: 470px) {
    font-size: 65px;
    line-height: 70px;
  }
  @media (min-width: 768px) {
    font-size: 75px;
    line-height: 80px;
  }
  @media (min-width: 984px) {
    font-size: 82px;
    line-height: 85px;
  }
}


