@import "styles/variables";

.about {
  position: relative;

  .nav {
    padding-top: 35px;

    ul {
      li {
        text-align: center;

        a {
          font-family: var(--robotoCondensed-font);
          background: transparent;
          display: block;
          padding: 25px 0;
          border-radius: 10px;
          font-weight: 700;
          font-size: 14px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #7a7878;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out,
            color 0.2s ease-in-out;
          white-space: nowrap;
          border: 1px solid #7a7878;

          &:hover {
            border-color: white;
            color: white;
          }

          &:active {
            background-color: rgba(white, 0.2);
          }
        }
      }
    }
  }

  .videoPlaceholder {
    position: relative;
    width: 100%;
    height: 250px;

    @media (min-width: 768px) {
      height: 450px;
    }

    @media (min-width: 1280px) {
      position: absolute;
      right: 0;
      top: 0;
      width: 900px;
      height: 100%;
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(
        90.7deg,
        #000000 -2.93%,
        rgba(0, 0, 0, 0.21) 72.81%
      );
    }
  }

  .playBtn {
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 14;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);

    @media (min-width: 768px) {
      width: 240px;
      height: auto;

      top: calc(50% - 150px);
      left: calc(50% - 150px);
    }

    @media (min-width: 1280px) {
      top: calc(50% - 100px);
      left: calc(50% - 100px);
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
