.section{
  margin-bottom: 40px;
  .background{
    width: fit-content;
  }
  .textBlocks{

  }
  .text{
    width: 300px;
    span{
      color: #FF9900;
    }
  }
  .blockThree{
    width: 370px;
    span{
      color: #FF9900;
    }
  }
}
