.section{
  margin-bottom: 40px;
  .background{
    width: 100%;
    position: relative;
    height: 100px;
    img{
      opacity: 0.5;
    }
    @media (min-width: 400px) {
      height: 120px;
    }
    @media (min-width: 470px) {
      height: 140px;
    }
    @media (min-width: 520px) {
      height: 160px;
    }
    @media (min-width: 768px) {
      height: 230px;
    }
    @media (min-width: 984px) {
      height: 290px;
    }
    @media (min-width: 1240px) {
      height: 340px;
      width: 80%;
    }
  }
  .textBlocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-end;
    }

    @media (min-width: 1240px) {
      margin-left: 100px;
    }

    .text{
      width: 90%;
      white-space: pre-wrap;
      @media (min-width: 768px) {
        width: 37%;
      }
      span{
        color: #FF9900;
      }
    }
    .blockThree{
      width: 90%;
      @media (min-width: 768px) {
        width: 370px;
        white-space: pre-wrap;
      }
      .second{
        @media (min-width: 768px) {
          padding-bottom: 1em;
        }

      }
      span{
        color: #FF9900;
        padding-bottom: 1em;
      }
    }

  }

}
