@import "styles/variables";

.tabs {
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;

  .tabItem {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: #292929;
    }

    .name {
      font-weight: 700;
      font-size: 16px;
      line-height: 12px;
      color: white;
      font-family: var(--robotoCondensed-font);
    }

    .price {
      font-weight: 700;
      font-size: 24px;
      line-height: 24px;
      margin-bottom: 15px;
      color: white;
    }
  }

  .active {
    background-color: #292929;
  }
}

.tabContent {
  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1280px) {
    padding: 0 100px;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;

    span {
      color: $primary;
    }

    @media (min-width: 984px) {
      font-size: 18px;
    }
  }

  .roiLabel {
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $condensed;
  }

  .row {
    display: flex;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid white;
    gap: 10px;

    @media (min-width: 1280px) {
      gap: 30px;
    }

    &:last-child {
      border-bottom: none;
    }

    .rowTitle {
      font-size: 14px;
      letter-spacing: -0.01em;
      line-height: 130%;
      color: white;
      display: inline-block;
      width: 45%;

      @media (min-width: 768px) {
        font-size: 16px;
        width: 50%;
      }

      @media (min-width: 1280px) {
        font-size: 16px;
        width: 50%;
      }
    }
    .rowRevenue {
      font-size: 16px;
      font-weight: 700;
      color: $primary;
      vertical-align: middle;
      display: inline;
      width: 35%;
      text-align: center;
      white-space: nowrap;

      @media (min-width: 768px) {
        font-size: 18px;
        width: 30%;
      }

      @media (min-width: 1280px) {
        font-size: 20px;
        width: 30%;
      }
    }

    .rowRoi {
      width: 20%;
      font-weight: 700;
      font-size: 16px;
      color: $primary;
      display: inline-block;
      white-space: nowrap;
      text-align: right;

      @media (min-width: 768px) {
        font-size: 18px;
        width: 20%;
      }

      @media (min-width: 1280px) {
        font-size: 20px;
      }
    }
  }
}

.swiper {
  position: relative;

  @media (min-width: 576px) {
    padding: 0 40px !important;
  }

  @media (min-width: 1280px) {
    padding: 0 100px !important;
  }

  .slide {
    padding: 0 30px;

    @media (min-width: 576px) {
      padding: 0;
    }
  }
}

.arrowPrev,
.arrowNext {
  svg {
    width: 10px;
    height: 30px;
    display: inline-block;
  }

  &:disabled {
    opacity: 0.4;
  }
}

.arrowPrev {
  position: absolute;
  z-index: 20;
  top: 30px;
  left: 0;
  display: block !important;

  @media (min-width: 768px) {
    left: 0;
  }

  svg {
    margin-right: 3px;
  }
}
.arrowNext {
  position: absolute;
  z-index: 20;
  top: 30px;
  right: 0;
  display: block !important;

  @media (min-width: 768px) {
    right: 0;
  }
}
